{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb/base",
    "./node_modules/aurelia-tools/.eslintrc.json"
  ],
  "globals": {
    "describe": false,
    "expect": false,
    "it": false
  },
  "parser": "babel-eslint",
  "rules": {
    "new-cap": ["error", { "capIsNew": false }],
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-mixed-operators": ["error", { "allowSamePrecedence": true }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-undef": ["error"],
    "space-before-function-paren": ["error", "always"]
  }
}
