<template>
  <require from="components/multi-select/multi-select"></require>
  <require from="components/svg-icon/svg-icon"></require>
  <require from="components/spinner.html"></require>

  <div class="flex-c flex-a-c flex-jc-c full-dim error-indicator ${isErrored ? 'is-active' : ''}">
    <div class="flex-c flex-d-c flex-jc-c flex-a-c">
      <svg-icon icon-id="warning"></svg-icon>
      <span>${errorMsg}</span>
    </div>
  </div>
  <div class="flex-c flex-a-c flex-jc-c full-dim loading-indicator ${isLoading ? 'is-active' : ''}">
    <spinner if.bind="isLoading"></spinner>
  </div>

  <div class="full-wh flex-c flex-d-c ${fgmState.animation ? 'is-animated' : ''}" ref="baseEl">
    <main class="flex-g-1 rel fragment-plot">
      <button class="axis-switch is-icon-only" if.bind="isLayout2d">
        <svg-icon icon-id="flip-xy" click.delegate="flipXY()"></svg-icon>
      </button>
      <div class="axis axis-x axis-top" if.bind="isLayout2d">
        <div class="flex-c flex-jc-sb axis-labels">
          <span class="axis-labels-min">Min</span>
          <span class="axis-labels-name">${arrangeMeasuresReadible[0]}</span>
          <span class="axis-labels-max">Max</span>
        </div>
        <div class="axis-line"></div>
        <div class="axis-arrow"></div>
      </div>
      <div class="axis axis-y axis-left" if.bind="isLayout2d">
        <div class="flex-c flex-jc-sb flex-d-c axis-labels">
          <span class="axis-labels-max">Max</span>
          <span class="axis-labels-name">${arrangeMeasuresReadible[1]}</span>
          <span class="axis-labels-min">Min</span>
        </div>
        <div class="axis-line"></div>
        <div class="axis-arrow"></div>
      </div>
      <div class="full-dim" ref="plotEl"></div>
    </main>
    <footer class="flex-c bottom-bar ${footerIsExpanded ? 'is-expanded' : ''}">
      <div class="flex-c flex-d-c flex-g-1 settings-container">
        <!-- First row of controls -->
        <ul class="flex-c settings-list">
          <li class="flex-c flex-d-c">
            <label for="settings-fgm-size">Snippet Size</label>
            <input
              id="settings-fgm-size"
              type="range"
              min="1"
              max="10"
              step="1"
              value.one-way="state.cellSize"
              change.delegate="cellSizeChangedHandler($event)">
          </li>
          <li class="flex-c flex-d-c">
            <label for="settings-fgm-matrix-orientation">Orientation</label>
            <select
              id="settings-fgm-matrix-orientation"
              change.delegate="matrixOrientationChangeHandler($event)">
              <option
                repeat.for="option of matrixOrientations"
                value.one-way="option.id"
                selected.bind="option.id === state.matrixOrientation">${option.name}</option>
            </select>
          </li>
          <li class="flex-c flex-d-c">
            <label for="settings-fgm-order-cluster">Arrange</label>
            <multi-select
              bottom-up="true"
              options.bind="state.measures"
              event-id.bind="arrangeSelectedEventId"
              state-query.bind="arrangeMeasuresAccessPath"
              placeholder="Choose…"></multi-select>
          </li>
          <li>
            <button
              class="flex-c flex-jc-c flex-a-c rel button ${piles.length > visiblePilesMax ? 'is-enabled' : 'is-disabled'}"
              click.delegate="groupPiles()"
              disabled.bind="piles.length <= visiblePilesMax">
              Group
            </button>
          </li>
          <li>
            <button
              class="flex-c flex-jc-c flex-a-c rel button is-icon-only ${trashSize > 0 ? 'is-enabled' : 'is-disabled'} ${trashIsActive ? 'is-active' : ''}"
              click.delegate="toggleTrash()"
              disabled.bind="trashSize === 0">
              <svg-icon icon-id="trash"></svg-icon>
              <span class="icon-number">${trashSize}</span>
            </button>
          </li>
        </ul>

        <!-- Second row of controls -->
        <ul class="flex-c settings-list">
          <li class="flex-c flex-d-c">
            <label for="settings-fgm-cover">Cover Mode</label>
            <select
              id="settings-fgm-cover"
              change.delegate="coverDispModeChangeHandler($event)">
              <option
                repeat.for="option of coverDispModes"
                value.one-way="option.id"
                selected.bind="option.id === coverDispMode">${option.name}</option>
            </select>
          </li>
          <li class="flex-c flex-d-c">
            <label
              for="settings-fgm-show-low-quality"
              title="Show low quality cells">Low Qual.</label>
            <input
              type="checkbox"
              id="settings-fgm-show-low-quality"
              checked.bind="state.showSpecialCells"
              click.delegate="showSpecialCellsChangeHandler()">
          </li>
          <li class="flex-c flex-d-c">
            <label
              for="settings-fgm-matrix-frame-encoding"
              title="Frame encoding">Frame Enc.</label>
            <select
              id="settings-fgm-matrix-frame-encoding"
              change.delegate="matrixFrameEncodingChangeHandler($event)">
              <option
                value=""
                selected.bind="!state.matrixFrameEncoding">---</option>
              <option
                repeat.for="option of state.measures"
                value.one-way="option.id"
                selected.bind="option.id === state.matrixFrameEncoding">${option.name}</option>
            </select>
          </li>
          <li class="flex-c flex-d-c">
            <label for="settings-fgm-round-lasso">Round Lasso</label>
            <input
              type="checkbox"
              id="settings-fgm-round-lasso"
              checked.bind="lassoIsRound"
              click.delegate="lassoIsRoundChangeHandler()">
          </li>
        </ul>
      </div>
      <button
        class="toggler ${footerIsExpanded ? 'is-active' : ''}"
        click.delegate="footerToggle()">
        ${footerIsExpanded ? 'Less' : 'More'}
      </button>
    </footer>
  </div>

  <script type="x-shader/x-vertex" id="shader-vertex">
     attribute vec3 customColor;
     varying vec3 vColor;
     void main() {
        vColor = customColor;
        gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
     }
  </script>

  <script type="x-shader/x-fragment" id="shader-fragment">
     varying vec3 vColor;
     void main() {
       gl_FragColor = vec4( vColor, 1);
     }
  </script>
</template>
