<template>
  <require from="components/svg-icon/svg-icon"></require>

  <nav
    id="pile-menu"
    class="pile-context-menu ${isActive ? 'is-active' : ''} ${isAlignLeft ? 'is-align-left' : ''} ${isBottomUp ? 'is-bottom-up' : ''}"
    css.bind="css">
    <ul class="no-list-style rel flex-c flex-d-c">
      <li
        class="flex-c flex-d-c ${command.buttons.length > 1 ? 'is-multiple' : ''} ${command.isActive ? 'is-active' : ''}"
        repeat.for="command of commands"
        if.bind="command.isVisible">
        <div class="separator" if.bind="command.isSeparator"></div>
        <label if.bind="command.label">${command.label}</label>
        <div class="flex-c">
          <button
            class="flex-g-1"
            repeat.for="button of command.buttons"
            click.delegate="trigger(button)"
            css.one-way="button.css"
            if.bind="button.isVisible">
            ${button.name}
          </button>
        </div>
      </li>
    </ul>
  </nav>
</template>
