<template>
  <require from="components/dialog/dialog"></require>
  <require from="components/svg-icon/svg-icon"></require>
  <require from="components/spinner.html"></require>

  <div class="flex-c flex-a-c flex-jc-c full-dim error-indicator ${isErrored ? 'is-active' : ''}">
    <div class="flex-c flex-d-c flex-jc-c flex-a-c">
      <svg-icon icon-id="warning"></svg-icon>
      <span>${errorMsg}</span>
    </div>
  </div>
  <div class="flex-c flex-a-c flex-jc-c full-dim loading-indicator ${isLoading ? 'is-active' : ''}">
    <div class="flex-c flex-a-c flex-jc-c spinner-bg">
      <spinner if.bind="isLoading"></spinner>
    </div>
  </div>

  <dialog
    class="flex-c flex-a-c flex-jc-c full-dim ${dialogIsOpen ? 'is-active' : ''}"
    deferred.bind="dialogDeferred"
    is-open.bind="dialogIsOpen"
    message.bind="dialogMessage"></dialog>

  <div class="full-dim flex-c flex-d-c">
    <main class="flex-g-1 rel">
      <div
        class="full-dim flex-c flex-a-c flex-jc-c no-pile-selected"
        if.bind="pile.fake">
        <p>Select a pile</p>
      </div>
      <div class="full-dim flex-c flex-d-c">
        <div id="pile-preview" class="flex-c flex-jc-c entry">
          <div class="wrapper flex-g-1">
            <div class="wrapper-ratio" css.bind="previewElRatioCss"></div>
            <canvas
              class="full-dim"
              ref="previewEl"></canvas>
            <div
              class="full-dim wrapper-border"
              click.delegate="highlightPile()"></div>
          </div>
        </div>
        <div class="flex-c one-liner entry">
          <label>${pile.pileMatrices.length > 1 ? 'Pile' : 'Snippet'} ID:</label>
          <p>${pile.id}</p>
        </div>
        <div class="flex-c one-liner entry" if.bind="pile.pileMatrices.length > 1">
          <label>Num Snippets:</label>
          <p>${pile.pileMatrices.length}</p>
        </div>
        <label for="pile-notes">Notes:</label>
        <textarea
          id="pile-notes"
          value.bind="pile.notes"
          disabled.bind="pile.fake"></textarea>
      </div>
    </main>
  </div>
</template>
