<template>
  <div class="full-wh flex-c flex-jc-sb flex-a-s" ref="baseEl">
    <div class="vis-view flex-c flex-jc-sb flex-a-s flex-i-g-1" ref="visEl">
      <div class="matrix-view rel" css.one-way="css.matrix" ref="matrixColEl">
        <h2 class="small">Matrix</h2>
        <iframe
          id="higlass"
          class="full-wh"
          src=""
          sandbox="allow-scripts"
          ref="iframe"></iframe>
      </div>
      <div class="pattern-view rel" ref="patternColEl">
        <button
          class="column-resizer draggable horizontal-only"
          ref="patternDragger"
          mousedown.trigger="columnDragStartHandler($event, 'pattern')"
          css.one-way="pattern.dragBtnCss"></button>
        <div
          class="drag-indicator"
          ref="patternDragIndicator"
          css.one-way="pattern.dragIndicatorCss"></div>
        <h2 class="small">Pattern</h2>
      </div>
    </div>
    <div class="stats-view rel" css.one-way="css.stats" ref="statsColEl">
      <button
        class="column-resizer draggable horizontal-only"
        ref="statsDragger"
        mousedown.trigger="columnDragStartHandler($event, 'stats')"
        css.one-way="stats.dragBtnCss"></button>
      <div
        class="drag-indicator"
        ref="statsDragIndicator"
        css.one-way="stats.dragIndicatorCss"></div>
      <h2 class="small">Statistics</h2>
    </div>
  </div>
</template>
