<template>
  <require from="components/fragments/fragments"></require>
  <require from="components/fragments/pile-details"></require>
  <require from="components/higlass/higlass"></require>
  <require from="components/svg-icon/svg-icon"></require>

  <div class="full-wh flex-c flex-jc-sb flex-a-s" ref="exploreBaseEl">
    <div class="vis-view flex-c flex-jc-sb flex-a-s flex-g-1" ref="visEl">
      <div id="view-matrix" class="matrix-view rel" css.one-way="css.matrix" ref="matrixColEl">
        <header class="column-header rel no-overflow">
          <h2>Matrix</h2>
          <ul class="flex-c controls">
            <li>
              <button
                class="flex-c flex-a-c flex-jc-c"
                click.delegate="maximizeColumn('matrix')">
                <svg-icon icon-id="max" />
              </button>
            </li>
            <li>
              <button
                class="flex-c flex-a-c flex-jc-c"
                click.delegate="minimizeColumn('matrix')">
                <svg-icon
                  icon-id="arrow-right-double"
                  icon-mirror-v="true" />
              </button>
            </li>
          </ul>
        </header>
        <higlass class="full-dim no-overflow column-content" />
      </div>
      <div
        id="view-fragments"
        class="fragments-view rel"
        ref="fragmentsColEl">
        <button
          class="column-resizer draggable horizontal-only"
          ref="fragmentsDragger"
          mousedown.trigger="columnDragStartHandler($event, 'fragments')"
          css.one-way="fragments.dragBtnCss"></button>
        <div
          class="drag-indicator"
          ref="fragmentsDragIndicator"
          css.one-way="fragments.dragIndicatorCss"></div>
        <header class="column-header rel no-overflow">
          <h2>Snippets</h2>
          <ul class="flex-c controls">
            <li>
              <button
                class="flex-c flex-a-c flex-jc-c"
                click.delegate="maximizeColumn('fragments')">
                <svg-icon icon-id="max" />
              </button>
            </li>
            <li>
              <button
                class="flex-c flex-a-c flex-jc-c"
                click.delegate="minimizeColumn('fragments')">
                <svg-icon icon-id="arrow-right-double" />
              </button>
            </li>
          </ul>
        </header>
        <fragments
          class="full-dim no-overflow column-content"
          base-el-is-init.bind="init" />
      </div>
    </div>
    <div
      id="view-details"
      class="details-view rel"
      css.one-way="css.details"
      ref="detailsColEl">
      <button
        class="column-resizer draggable horizontal-only"
        ref="detailsDragger"
        mousedown.trigger="columnDragStartHandler($event, 'details')"
        css.one-way="details.dragBtnCss"></button>
      <div
        class="drag-indicator"
        ref="detailsDragIndicator"
        css.one-way="details.dragIndicatorCss"></div>
      <header class="column-header rel no-overflow">
        <h2 if.bind="!colDetailsIsMin">Details</h2>
        <ul class="flex-c controls">
          <li>
            <button
              class="flex-c flex-a-c flex-jc-c"
              click.delegate="maximizeColumn('details')"
              if.bind="colDetailsIsMin">
              <svg-icon
                icon-id="arrow-right-double"
                icon-mirror-v="true" />
            </button>
            <button
              class="flex-c  flex-a-c flex-jc-c"
              click.delegate="minimizeColumn('details')"
              if.bind="!colDetailsIsMin">
              <svg-icon icon-id="arrow-right-double" />
            </button>
          </li>
        </ul>
      </header>
      <pile-details
        class="full-dim no-overflow column-content"
        is-shown.bind="!colDetailsIsMin" />
    </div>
  </div>
</template>
