<template>
  <require from="components/fragments/fragments"></require>
  <require from="components/higlass/higlass"></require>
  <require from="components/svg-icon/svg-icon"></require>

  <div class="full-wh flex-c flex-jc-sb flex-a-s" ref="exploreBaseEl">
    <div class="vis-view flex-c flex-jc-sb flex-a-s flex-g-1" ref="visEl">
      <div id="view-matrix" class="matrix-view rel" css.one-way="css.matrix" ref="matrixColEl">
        <header class="column-header rel no-overflow">
          <h2>Matrix</h2>
          <ul class="flex-c controls">
            <li>
              <button
                class="flex-c"
                click.delegate="maximizeColumn('matrix')">
                <svg-icon icon-id="max-horizontal"></svg-icon>
                <span>Max</span>
              </button>
            </li>
            <li>
              <button
                class="flex-c"
                click.delegate="minimizeColumn('matrix')">
                <svg-icon icon-id="min-horizontal"></svg-icon>
                <span>Min</span>
              </button>
            </li>
          </ul>
        </header>
        <higlass class="full-dim no-overflow column-content"></higlass>
      </div>
      <div
        id="view-fragments"
        class="fragments-view rel"
        ref="fragmentsColEl">
        <button
          class="column-resizer draggable horizontal-only"
          ref="fragmentsDragger"
          mousedown.trigger="columnDragStartHandler($event, 'fragments')"
          css.one-way="fragments.dragBtnCss"></button>
        <div
          class="drag-indicator"
          ref="fragmentsDragIndicator"
          css.one-way="fragments.dragIndicatorCss"></div>
        <header class="column-header rel no-overflow">
          <h2>Snippets</h2>
          <ul class="flex-c controls">
            <li>
              <button
                class="flex-c"
                click.delegate="maximizeColumn('fragments')">
                <svg-icon icon-id="max-horizontal"></svg-icon>
                <span>Max</span>
              </button>
            </li>
            <li>
              <button
                class="flex-c"
                click.delegate="minimizeColumn('fragments')">
                <svg-icon icon-id="min-horizontal"></svg-icon>
                <span>Min</span>
              </button>
            </li>
          </ul>
        </header>
        <fragments
          class="full-dim no-overflow column-content"
          base-el-is-init.bind="init"></fragments>
      </div>
    </div>
    <div id="view-details" class="stats-view rel" css.one-way="css.stats" ref="statsColEl">
      <button
        class="column-resizer draggable horizontal-only"
        ref="statsDragger"
        mousedown.trigger="columnDragStartHandler($event, 'stats')"
        css.one-way="stats.dragBtnCss"></button>
      <div
        class="drag-indicator"
        ref="statsDragIndicator"
        css.one-way="stats.dragIndicatorCss"></div>
      <header class="column-header rel no-overflow">
        <h2>Details</h2>
        <ul class="flex-c controls">
          <li>
            <button
              class="flex-c"
              click.delegate="maximizeColumn('stats')">
              <svg-icon icon-id="max-horizontal"></svg-icon>
              <span>Max</span>
            </button>
          </li>
          <li>
            <button
              class="flex-c"
              click.delegate="minimizeColumn('stats')">
              <svg-icon icon-id="min-horizontal"></svg-icon>
              <span>Min</span>
            </button>
          </li>
        </ul>
      </header>
      <main class="column-content"></main>
    </div>
  </div>
</template>
