<template>
  <require from="components/footer-main/footer-main"></require>
  <require from="components/svg-icon/svg-icon"></require>

  <div class="flex-c flex-d-c full-wh home is-increased-font-size">
    <main class="flex-g-1 wrap">
      <h2 class="is-justified">Visual Exploration of</br>Large Genome Interaction Matrices</br>With Interactive Small Multiples.</h2>

      <div class="flex-c columns">
        <p class="flex-g-1 text max-50 intro is-increased-line-height">HiPiler is an interactive web application for exploring and visualizing many features in large genome interaction matrices. Genome interaction matrices approximate the physical distance of pairs of genomic regions to each other and can contain up to 3 million rows and columns. Traditional matrix aggregation or pan-and-zoom interfaces largely fail in supporting search, inspection, and comparison of local features. HiPiler represents features as thumbnail-like <em>snippets</em>. Snippets can be laid out automatically based on their data and meta attributes. They are linked back to the matrix, visualized with <a href="http://higlass.io" target="_blank">HiGlass</a>, and can be explored interactively. <a class="prominent" route-href="route: about"><em>Find out more</em></a></p>

        <div class="flex-g-1 flex-c flex-d-c wrap-extra max-50">
          <p class="is-align-center is-increased-line-height">Try HiPiler using one of the three methods:</p>
          <div class="flex-c flex-d-c">
            <div class="flex-g-1 box box-drop text text-em">
              Drag &amp; drop a config
            </div>
            <div class="flex-g-1 flex-c box box-select" ref="selectConfigButton">
              <span class="flex-g-1 text text-em">Select a config</span>
              <svg-icon icon-id="arrow-bottom"></svg-icon>
              <input
                type="file"
                accept=".json, .csv, .tsv"
                ref="inputConfigFile"
                files.bind="selectedConfig"
                change.delegate="selectedConfigChanged()"
              >
            </div>
            <div class="flex-g-1 box box-demo">
              <p class="text-em">Choose a predefined config:</p>
              <ul>
                <li
                  repeat.for="example of examples"
                  click.delegate="loadExample(example)">
                  <div class="demo-title">${example.name}</div>
                  <div class="flex-c demo-data">
                    <svg-icon icon-id="data"></svg-icon>
                    <div class="flex-g-1">${example.data}</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="separator flex-c flex-jc-c"></div>

      <h3 id="news" class="flex-c iconized">
        <svg-icon icon-id="calendar"></svg-icon>
        News
      </h3>
      <ol class="extra-padding extra-line-height">
        <li>
          <a href="https://github.com/flekschas/hipiler/releases/tag/v1.3.0" target="_blank">Version 1.3 is here</a>. It adds support for simple but fast CSV import, dynamic snippet reloading, and HiGlass v1.0.0-alpha3 <a href="https://github.com/flekschas/hipiler/blob/master/CHANGELOG.md" target="_blank">among a few other bugfixes</a>.
          <em class="date">May 7th, 2018</em>
        </li>
        <li>
          <a href="https://github.com/flekschas/hipiler/releases/tag/v1.2.0" target="_blank">Version 1.2 is out</a>, supporting five color maps with custom color scaling and featuring HiGlass version 0.10.11 <a href="https://github.com/flekschas/hipiler/blob/master/CHANGELOG.md" target="_blank">among other things</a>.
          <em class="date">Jan 21st, 2018</em>
        </li>
        <li>
          <a href="https://github.com/flekschas/hipiler/releases/tag/v1.1.0" target="_blank">Version 1.1 is available</a> and features improved rendering and a new pile details panel.
          <em class="date">Aug 17th, 2017</em>
        </li>
        <li>
          <a href="https://github.com/flekschas/hipiler/releases/tag/v1.0.0" target="_blank">Version 1.0 is here</a> with 5-10x faster snippets rendering and several other additions and bug fixes.
          <em class="date">Jul 16th, 2017</em>
        </li>
      </ol>

      <div class="bg full-dim"><div class="fade-in full-dim"></div></div>
    </main>
    <footer-main></footer-main>
  </div>
</template>
