@mixin slide-out-in($speed, $easing) {
  -webkit-animation: slide-out-in $speed $easing 1;
  -moz-animation: slide-out-in $speed $easing 1;
  animation: slide-out-in $speed $easing 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  @-moz-keyframes slide-out-in {
    0% {
      -moz-transform: translateX(0);
      opacity: 1;
    }
    50% {
      -moz-transform: translateX(75%);
      opacity: 0;
    }
    51% {
      -moz-transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      -moz-transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-out-in {
    0% {
      -webkit-transform: translateX(0);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateX(75%);
      opacity: 0;
    }
    51% {
      -webkit-transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-out-in {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateX(75%);
      transform: translateX(75%);
      opacity: 0;
    }
    51% {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}
