<template>
  <require from="components/svg-icon/svg-icon"></require>

  <footer class="bottom-bar flex-c flex-jc-sb">
    <div class="flex-c flex-jc-sb logos">
      <a href="https://vcg.seas.harvard.edu" target="_blank" class="flex-c logo logo-vcg">
        <label class="is-align-right">
        Visual</br>
        Computing</br>
        Group
        </label>
        <svg-icon icon-id="logo-harvard-vcg"></svg-icon>
      </a>
      <a href="https://www.seas.harvard.edu" target="_blank">
        <svg-icon icon-id="logo-harvard-seas" class="logo"></svg-icon>
      </a>
      <a href="https://hms.harvard.edu" target="_blank">
        <svg-icon icon-id="logo-harvard-hms" class="logo"></svg-icon>
      </a>
    </div>
    <p class="copyright">
      Copyright © 2017 The President and Fellows of Harvard College
    </p>
  </footer>
</template>
