<template>
  <require from="components/svg-icon/svg-icon"></require>

  <footer class="bottom-bar flex-c flex-jc-sb">
    <ul class="flex-c flex-jc-sb">
      <li>
        <svg-icon icon-id="logo-harvard-vcg" class="logo"></svg-icon>
      </li>
      <li>
        <svg-icon icon-id="logo-harvard-seas" class="logo"></svg-icon>
      </li>
      <li>
        <svg-icon icon-id="logo-harvard-hms" class="logo"></svg-icon>
      </li>
    </ul>
    <p class="copyright">
      Copyright © 2017 The President and Fellows of Harvard College
    </p>
  </footer>
</template>
