@import 'colors';
@import 'transitions';

html {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  background: #fff;
}

#drag-drop-notifier,
#global-error {
  position: fixed;
  z-index: -1;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  height: 0;
  opacity: 0;
  transition: opacity $transition-very-fast $ease-in-out-cubic;
}

#drag-drop-notifier {
  color: $white;
  background: transparentize($primary, 0.25);
}

#global-error {
  color: $error-text;
  background: $error-bg;
}

.bottom-bar {
  height: 2.5rem;
  color: $gray;
  border-top: 1px solid $gray-lightest;

  .settings-list {
    > li {
      margin-left: 1rem;
      padding-top: 0.25rem;

      &:first-child {
        margin-left: 0;
      }
    }

    label {
      font-size: 0.8rem;
      text-transform: uppercase;
      margin-bottom: 0.125rem;
    }

    .btn {
      margin-top: 0.125rem;
      color: $gray-dark;

      &:hover {
        color: $primary;
      }
    }
  }

  .logo {
    margin: 0.375rem 0.375rem 0 0;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  p {
    font-size: 0.8rem;
    line-height: 3rem;
  }
}

body.is-dragging-over #drag-drop-notifier,
body.is-global-error #global-error {
  z-index: 10;
  height: 100%;
  opacity: 1;

  span {
    transform: scale(1);
  }
}

body.is-dragging-over #drag-drop-notifier {
  animation: pulsePrimary 1.5s $ease-in-out-cubic infinite;

  span {
    animation: pulseText 1.5s $ease-in-out-cubic infinite;
  }
}

@keyframes pulsePrimary {
  50% {
    background: transparentize($primary, 0.25);
  }
  60% {
    background: transparentize($primary, 0.05);
  }
  100% {
    background: transparentize($primary, 0.25);
  }
}

@keyframes pulseText {
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid $gray-lighter;
  color: $gray;
  background: $white;
  line-height: 3rem;

  h1 {
    position: relative;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: inherit;

    a {
      border-bottom: 0;
    }

    &.is-active {
      &::before {
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
        left: 0;
        height: 3px;
        background: $primary;
      }

      a {
        color: $black;
      }
    }
  }

  .state {
    margin: 0.5rem 0 0.5rem 0.5rem;
    padding: 0 0.5rem;
    color: $gray-dark;
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 2rem;
    border: 0;
    background: none;


    &.state-indicator::after {
      content: '';
      margin: 0.75rem 0 0 0.25rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      background: $gray-lighter;
    }

    &.state-active {
      color: $primary;
    }

    &.state-ready {
      color: $primary;
    }

    .icon-inline {
      margin-right: 0.25rem;

      svg {
        height: 1.85rem;
      }
    }
  }
}

#infobar {
  position: absolute;
  top: 3rem;
  right: 0;
  left: 0;
  height: 3rem;
  line-height: 3rem;
  color: $gray-dark;
  background: $gray-lighter;

  a {
    border-bottom-color: $gray-light;

    &:hover {
      border-bottom-color: $primary;
    }
  }
}

#main {
  position: absolute;
  top: 3rem;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5rem;
  background: $white;
}

#infobar + #main {
  top: 6rem;
}

#topbar,
#main {
  transition: opacity $transition-very-fast $ease-in-out-cubic;
}
