@import 'colors';
@import 'transitions';

/* =====  1 Global Rules & Definitions  ===================================== */

/* -----  1.1 Font Definitions  --------------------------------------------- */

/* We're using Google Fonts for performance reasons */

/* -----  1.2 Reset & Normalization  ---------------------------------------- */

*, *::before, *::after {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

::-moz-selection {
  background: $orange;
  color: $black;
}

::selection {
  background: $orange;
  color: $black;
}

html,
body {
  height: 100vh;
  color: $gray-dark;
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  background: #fff;
}

/* -----  1.3 General Typography  ------------------------------------------- */

h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
  /* Reset font-sizes and normalize margins */
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 1em;
}

/* Headings */
h1, h2, h3 {
  color: $black;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.25;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.2rem;
}

h3 {
  font-size: 1.25em;
  line-height: 1.2;
}

h4, h5, h6 {
  font-weight: 300;
}

h4 {
  font-size: 1em;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $gray-lighter;
  transition: color $transition-very-fast $ease-in-out-cubic,
              border-bottom-color $transition-very-fast $ease-in-out-cubic;
}

a:hover, a:focus, a:active {
  color: $primary;
  border-bottom-color: $primary;
}

b, strong {
  font-weight: 700;
}

button:hover
button:active,
button:focus {
  outline: none;
}

img {
  border-style: none;
  width: 100%;
  height: auto;
}

figcaption {
  font-size: .75rem;
  line-height: 1.5rem;
}

svg-icon {
  display: block;
}

a, p, button {
  font-weight: 300;
}

/* =====  Global Styles  ==================================================== */

// I should rather use `.btn` but higlass uses the same global class name...
.button {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
  background: $gray-lightest;
  transition: color $transition-very-fast $ease-in-out-cubic,
              background $transition-very-fast $ease-in-out-cubic;

  &:hover {
    border: 0;
    color: $primary;
    background: lighten($primary, 40%);
  }

  &.is-icon-only {
    svg-icon {
      width: 1em;
      height: 1em;
    }
  }
}

.rel {
  position: relative;
}

.fw,
.full-wh {
  width: 100%;
}

.fh,
.full-wh {
  height: 100%;
}

.full-dim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-list li {
  display: inline-block;
}

.float-list li {
  display: block;
  float: left;
}

.draggable {
  &:hover {
    cursor: pointer;
  }
}

.icon-inline svg {
  width: 1em;
  height: 1em;
}

.no-overflow {
  overflow: hidden;
}

.spinner-bg {
  padding: 1rem;
  border-radius: 0.25rem;
  background: $white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
              0 1px 3px 0 rgba(0, 0, 0, 0.05),
              0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

body.dragging,
.draggable:active {
  cursor: move !important;
}

body.dragging-horizontal,
.draggable.horizontal-only:active {
  cursor: ew-resize !important;
}

body.dragging-vertical,
.draggable.vertical-only:active {
  cursor: ns-resize !important;
}

.is-align-center {
  text-align: center;
}

.is-align-right {
  text-align: right;
}

.wrap {
  max-width: 60rem;
  margin: 0 auto;
}

.max-50 {
  max-width: 50%;
}
