$black: #000;
$gray: #999;
$white: #fff;

$light-gray: #bfbfbf;
$lighter-gray: #d9d9d9;
$lightest-gray: #e5e5e5;

$dark-gray: #666;
$darker-gray: #444;
$darkest-gray: #222;

$orange: #ff5500;

$primary: $orange;
$secondary: $orange;
