@import 'mixins/truncate';
@import 'colors';
@import 'transitions';

.matrix-view,
.fragments-view,
.stats-view {
  padding: 0 0.5rem;

  &.is-transitionable {
    transition: flex-basis $transition-very-fast $ease-in-out-cubic;
  }
}

.matrix-view,
.fragments-view {
}

.matrix-view {
  flex-basis: 40%;
  padding-left: 0;
}

.fragments-view {
  flex-grow: 1;
  border-left: 1px solid $gray-lighter;
}

.stats-view {
  flex-basis: 20rem;
  border-left: 1px solid $gray-lighter;
  padding-right: 0;
}

.matrix-view,
.fragments-view,
.stats-view {
  h2.small {
    position: relative;
    z-index: 1;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    line-height: 2rem;
    color: $gray-lighter;
    font-weight: normal;
    text-transform: uppercase;
  }
}

.column-resizer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: -0.25rem;
  display: block;
  width: 0.5rem;
  height: 2rem;
  background: $gray-lighter;
  transform: translateX(0);
  transition: background $transition-very-fast $ease-in-out-cubic,
              transform $transition-very-fast $ease-in-out-cubic,
              width $transition-very-fast $ease-in-out-cubic;

  &:hover,
  &:active,
  &:focus {
    transform: translateX(-0.25rem);
    width: 1rem;
  }
}

.is-col-drag-fragments .fragments-view .column-resizer,
.is-col-drag-stats .stats-view .column-resizer {
  transition: background $transition-very-fast $ease-in-out-cubic;
  width: 1rem;
}

.is-col-drag-fragments-highlight .fragments-view .column-resizer,
.is-col-drag-stats-highlight .stats-view .column-resizer {
  background: $primary;
  width: 1rem;

  &:hover,
  &:active,
  &:focus {
    transform: none;
  }
}

.drag-indicator {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background: $primary;
  opacity: 0;
  transition: opacity $transition-very-fast $ease-in-out-cubic;
}

.is-col-drag-fragments .fragments-view .drag-indicator,
.is-col-drag-stats .stats-view .drag-indicator {
  opacity: 1;
}

.column-header {
  height: 2rem;
  margin-left: -0.25rem;

  &:hover h2,
  &:hover h2.small {
    margin-top: -2rem;
  }

  h2,
  h2.small {
    margin: 0 0 0 0.25rem;
  }

  h2 {
    transition: margin $transition-very-fast $ease-in-out-cubic;
  }

  button {
    min-width: 2rem;
    height: 2rem;
    color: $gray;
    border: none;
    background: none;
    transition: color $transition-very-fast $ease-in-out-cubic,
                background $transition-very-fast $ease-in-out-cubic;

    &:hover {
      color: $black;
      background: $gray-lighter;
    }
  }

  .controls {
    margin: 0;
  }

  .is-icon-only svg {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.25rem;
  }
}
