@import 'colors';
@import 'transitions';

fragments {
  display: block;
  margin: 2rem 0 0 0.5rem;

  .fragment-plot {
    &.is-piles-inspection {
      box-shadow: inset 0 0 0 0.25rem lighten($primary, 40%);
    }
  }
}
