@import 'colors';
@import 'transitions';

.grid {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  display: none;
  opacity: 0;
  transition: opacity 0 $ease-in-out-cubic;

  &.full-dim {
    display: block;
    bottom: 100%;
  }

  &.is-active {
    display: block;
    opacity: 1;
    transition: opacity $transition-fast $ease-in-out-cubic;

    &.full-dim {
      bottom: 0;
    }
  }

  .column {
    position: relative;
    border-left: 1px solid $primary;

    &:first-child {
      border-left: 0;
    }
  }

  .row {
    position: relative;
    border-top: 1px solid $primary;

    &:first-child {
      border-top: 0;
    }
  }
}
