@import 'colors';

.primary-nav {
  text-transform: uppercase;
  line-height: 3.25rem;

  li {
    position: relative;
    margin: 0 0.25rem;

    &.is-active {
      &::before {
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
        left: 0;
        height: 3px;
        background: $primary;
      }

      a {
        color: $black;
      }
    }
  }

  a {
    display: block;
    height: 3rem;
    padding: 0 0.25rem;
    border-bottom: 0;
  }

  .is-icon-only {
    width: 1.7rem;
    height: 3rem;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
