@import 'colors';
@import 'transitions';
@import 'mixins/ratio';

pile-details {
  display: block;
  margin: 2rem 0 0 0.5rem;

  .fragment-plot {
    &.is-piles-inspection {
      box-shadow: inset 0 0 0 0.25rem lighten($primary, 40%);
    }
  }

  .no-pile-selected {
    z-index: 10;
    color: $gray;
    background: $gray-lightest;
  }

  h5,
  h5 label {
    color: $gray-darker;
    font-size: 1rem;
    text-transform: none;
  }

  h5 {
    margin: 0 0 0.5rem 0;
  }

  h5 svg-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
  }

  label {
    color: $gray;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  textarea {
    font-size: 0.9rem;
    line-height: 1.25em;
    min-height: 7em;
    max-height: 14em;
  }

  .one-liner {
    p {
      margin: 0 0 0 0.5em;
      font-size: 0.8rem;
    }
  }

  .entry {
    margin-bottom: 0.25rem;
  }

  .separator {
    margin: 0.5rem 0;
    height: 1px;
    background: $gray-lightest;
  }

  .entry + .separator {
    margin-top: 0.25rem;
  }

  #pile-preview {
    .wrapper {
      position: relative;
      max-width: 20rem;
      border-radius: 0.25rem;

      .wrapper-ratio {
        width: 100%;
        padding-top: 100%;
      }

      .wrapper-border {
        z-index: 2;
        border: 1px solid $gray-lightest;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: border-color $transition-very-fast $ease-in-out-cubic,
                    border-width $transition-very-fast $ease-in-out-cubic;

        &:active {
          border-color: $primary;
          border-width: 2px;
        }
      }
    }

    canvas {
      z-index: 1;
      width: 100%;
      height: 100%;
      image-rendering: optimizeSpeed;
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      image-rendering: pixelated;
      -ms-interpolation-mode: nearest-neighbor;
    }
  }
}
